$background: #eaffd085;
$hover: #f38181;

#sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  background-color: $background;

  // send post

  & .sendpost {
    display: block;
    margin-bottom: 30px;
    padding: 20px 50px;
    background: rgba($background, 1);
    border: 1px solid $hover;
    color: $hover;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;

    &:hover {
      background: #f38181;
      color: black;
    }
  }

  // ---- search ----

  & .search {
    // border: 1px solid red;
    width: 95%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_input {
      width: 250px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 5px;
      border: 0.5px solid #95e1d3;
      position: relative;
      &:active,
      &:focus {
        outline: none !important;
        border: 2px solid $hover;
        box-shadow: 0 0 10px #719ece;
      }
    }

    &_icon {
      display: none;
      color: $hover !important;
      position: absolute;
      font-size: 1em;
      opacity: 0.4;
    }
  }
  // ---- category ----
  & .category {
    // border: 1px solid blue;
    width: 95%;
    height: 35vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    &_mt {
      margin-top: 50px;
    }
    & p {
      font-size: 1.2em !important;
    }
    & ul {
      margin-right: 20px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      text-align: center;

      li {
        margin-top: 10px;
        a {
          color: black;
          font-size: 0.9em;
          text-decoration: none;
          padding: 4px 10px;
        }
      }
    }
  }
  // ---- popular ----
  & .popular {
    width: 95%;
    height: 40vh;
    text-align: center;
    & p {
      margin-bottom: 30px;
      margin-top: -10px;
      font-size: 1.2em !important;
    }
    &_block {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0 10px 0;

      & img {
        width: 30%;
        height: 30%;
        border-radius: 6px;
        margin: 5px;
      }
      & a {
        color: black;
        font-size: 0.9em;
        text-decoration: none;
        margin: 5px;
      }
    }
  }
  // ---- tages ----
  & .tagname {
    width: 95%;
    height: 18vh;
    text-align: center;
    margin-top: 20px;
    & p {
      margin-bottom: 30px;
      margin-top: -20px;
      font-size: 1.2em !important;
    }

    & a {
      display: inline-block;
      padding: 4px 10px;
      margin-bottom: 7px;
      margin-right: 4px;
      border-radius: 4px;
      color: #000000;
      border: 1px solid #ccc;
      font-size: 11px;
      text-decoration: none;
      background-color: transparent;
    }
  }
}

//
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  #sidebar {
    & .sendpost {
    }

    // ---- search ----

    & .search {
    }
    // ---- category ----
    & .category {
      display: none;
    }
    // ---- popular ----
    & .popular {
      display: none;
    }
    // ---- tages ----
    & .tagname {
      display: none;
    }
  }
}
